# Data Types

In [ ]:
#int() Used to hold integer as a value
#float() Used to hold decimal numbers
#str() Used to hold characters
#list() Holds different data types in it. Ex lst=["Vishal",45,223.26,"Srivastav"]
#dict() Data will have key instead of index
#st() Sets are used for storing unique values
#tup() Tuples are ordered immutable collection of objects. Ex- tup("vishal","@","LetsUpGrade.in")
#boolean- Value can be either true or false

# List

In [1]:
#Creating a list
lst=["vishal",25,27.08,"srivastav"]

#Addimg an element to a list
lst.append("bts")
print(lst)

['vishal', 25, 27.08, 'srivastav', 'bts']

In [4]:
#indexing
lst.index("srivastav")

3

In [5]:
#negative indexing
print(lst[-2])

srivastav

In [6]:
#slicing a list
print(lst[1:4])

[25, 27.08, 'srivastav']

In [7]:
#change the item in the list
lst[1]=27
print(lst)

['vishal', 27, 27.08, 'srivastav', 'bts']

In [8]:
#loop through list
for x in lst:
    print(x)

vishal
27
27.08
srivastav
bts

In [9]:
#checking if item exist in the list ot not
if "bts" in lst:
    print("yes,bts is in the list")

yes,bts is in the list

In [10]:
#finding the list length
print(len(lst))

5

In [11]:
#adding item to a specific index
lst.insert(4,"kook")
print(lst)

['vishal', 27, 27.08, 'srivastav', 'kook', 'bts']

In [13]:
#removing specified item from a list
lst.remove("vishal")
print(lst)

[27, 27.08, 'srivastav', 'kook', 'bts']

In [14]:
#deleting the list
del lst
print("list has been deleted")

list has been deleted

In [16]:
#copying a list
lst=["vishal","bts",27.08,45,"kook"]
lst2=lst.copy()
print(lst2)

['vishal', 'bts', 27.08, 45, 'kook']

In [17]:
#joining two lists
list3=lst+lst2
print(list3)

['vishal', 'bts', 27.08, 45, 'kook', 'vishal', 'bts', 27.08, 45, 'kook']

In [18]:
#reversing a list
lst.reverse()
print(lst)

['kook', 45, 27.08, 'bts', 'vishal']

# Dictionary

In [24]:
dit={"name":"vishal","age":"16","number":"564516843"}
print(dit)

{'name': 'vishal', 'age': '16', 'number': '564516843'}

In [29]:
#accessing an item from dictionary
x=dit["name"]
print(x)

#get() method
x=dit.get("age")
print(x)

vishal
16

In [30]:
#changing value of an item in  dictionary
dit["age"]=17
print(dit)

{'name': 'vishal', 'age': 17, 'number': '564516843'}

In [33]:
#loop in dictionary
dit={
    "name":"vishal",
    "age":"16",
    "number":"564516843"
}
for x in dit:
    print(x)

name
age
number

In [34]:
#printing value of items in a dictionary
for x in dit.values():
    print(x)

vishal
16
564516843

In [35]:
#printing both keys and values
for x,y in dit.items():
    print(x,y)

name vishal
age 16
number 564516843

In [36]:
#check if key exist or not
if "age" in dit:
    print("Key exist in the list")

Key exist in the list

In [37]:
#length of dictionary
print(len(dit))

3

In [38]:
#Adding item to a dictionary
dit["song"]="pop"
print(dit)

{'name': 'vishal', 'age': '16', 'number': '564516843', 'song': 'pop'}

In [39]:
#removing item
dit.pop("number")
print(dit)

{'name': 'vishal', 'age': '16', 'song': 'pop'}

In [40]:
#clearing the whole dictionary
dit.clear()
print("dictionary has been cleared",dit)

dictionary has been cleared {}

# Sets

In [41]:
sets={"apple","banana","grapes","cherry"}
print(sets)

{'apple', 'banana', 'grapes', 'cherry'}

In [42]:
#loop and printing value
for x in sets:
    print(x)

apple
banana
grapes
cherry

In [44]:
#check if an item exist it the lsit or not
print("cherry" in sets)

True

In [45]:
#adding items in a sets
sets.add("watermelon")
print(sets)

{'cherry', 'watermelon', 'apple', 'banana', 'grapes'}

In [48]:
#adding multiple items
sets={"apple","banana","grapes","cherry"}
sets.update(["muskmelon","orange","mango"])
print(sets)

{'cherry', 'orange', 'mango', 'apple', 'muskmelon', 'banana', 'grapes'}

In [49]:
#length of sets
print(len(sets))

7

In [50]:
#removing an item 
sets.remove("grapes")
sets.discard("banana")
print(sets)

{'cherry', 'orange', 'mango', 'apple', 'muskmelon'}

In [52]:
#removing last item 
x=sets.pop()
print(x)
print(sets)

orange
{'mango', 'apple', 'muskmelon'}

In [56]:
#clearing whole sets
set={"apple","banana","grapes","cherry"}
del set
print("set has been deleted",set)

set has been deleted <class 'set'>

In [57]:
#joining two sets
set1={"apple","banana","grapes","cherry"}
set2={"muskmelon","orange","mango"}
set3=set1.union(set2)
print(set3)

{'muskmelon', 'cherry', 'orange', 'mango', 'apple', 'banana', 'grapes'}

In [58]:
set1.update(set2)
print(set1)

{'muskmelon', 'cherry', 'orange', 'mango', 'apple', 'banana', 'grapes'}

# Tuple

In [59]:
tup=('vishal','@','letsupgrade.in')
print(tup)

('vishal', '@', 'letsupgrade.in')

In [60]:
#accesing item in tuple
print(tup[2])

letsupgrade.in

In [61]:
#negative indexing
print(tup[-2])

@

In [62]:
#range of items
print(tup[0:2])

('vishal', '@')

In [63]:
#changing tuple value
tup=('apple','banana','grapes','orange')
tup1=list(tup)
tup1[2]='mango'
tup=tuple(tup1)
print(tup)

('apple', 'banana', 'mango', 'orange')

In [66]:
#loop through a tuple
for x in tup:
    print(tup)

('apple', 'banana', 'mango', 'orange')
('apple', 'banana', 'mango', 'orange')
('apple', 'banana', 'mango', 'orange')
('apple', 'banana', 'mango', 'orange')

In [69]:
#check if a item exist
if "mango" in tup:
    print("yes,'mango' is in the tuple")

yes,'mango' is in the tuple

In [70]:
#tuple length
print(len(tup))

4

# Operators

In [79]:
# == used for equality
# != not equal to
# >,>= less than and less than equal to
# <,<= greater than greater than equal to

# Logical Operators

In [ ]:
# And 
# Or 
# Not