<a href="https://colab.research.google.com/github/Vishal0508/Python-Programming-B7-Jupyter-Notebook/blob/master/Learn%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Swapping The Values Of The Given Variables**

In [1]:
a=input("Enter Value Of A=")
b=input("Enter Value Of B=")
c=a
a=b
b=c
print()
print("Swapped Value Of A Is",a)
print("Swapped Value Of B Is",b)

Enter Value Of A=25
Enter Value Of B=30

Swapped Value Of A Is 30
Swapped Value Of B Is 25

**Calculating The Sum OF Given Numbers**

In [2]:
number1=int(input("Enter First Number="))
number2=int(input("Enter Second Number="))
sum=number1+number2
print(" ")
print("Sum Of The Number is",sum)

Enter First Number=25
Enter Second Number=30

Sum Of The Number is 55

**Area Of Triangle**

In [3]:
a=int(input("Enter First Side="))
b=int(input("Enter Second Side="))
c=int(input("Enter Third Side="))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print()
print("Area Of The Given Triangle",area)

Enter First Side=3
Enter Second Side=4
Enter Third Side=5

Area Of The Given Triangle 6.0

**Square Root**

In [5]:
number=int(input("Enter The Number For Which Square Root Has To Be Calculated="))
root=number**0.5
print()
print("Square Root Of Given Number Is",root)

Enter The Number For Which Square Root Has To Be Calculated=400

Square Root Of Given Number Is 20.0

**Root Of Quadratic Equation**

In [7]:
a=int(input("Enter The Coefficient of x^2="))
b=int(input("Enter The Coefficient of x="))
c=int(input("Enter The Constant Term="))
discriminant=((b**2)-4*a*c)**0.5
root1= (-b+discriminant)/(2*a)
root2=(-b-discriminant)/(2*a)
print()
print("Roots Of Quadratic Equation Are:")
print(root1)
print(root2)

Enter The Coefficient of x^2=1
Enter The Coefficient of x=4
Enter The Constant Term=4

Roots Of Quadratic Equation Are:
-2.0
-2.0

**Convert Kilometres To Miles**

In [8]:
kilometre=int(input("Enter Distanc in Kilometres"))
miles=0.621371*kilometre
print("Value of Distance in miles=",miles)

Enter Distanc in Kilometres5
Value of Distance in miles= 3.106855

**Celcius To Farenheit**

In [9]:
celcius=int(input("Enter Temperature In Celcius="))
farenheit=(celcius*1.8)+32
print("Temperature in Farenheit is",farenheit)

Enter Temperature In Celcius=98
Temperature in Farenheit is 208.4

**Check If Given Number Is Positive Or Negative**

In [13]:
number=float(input("Enter A Number"))
if number>0:
  print(number,"Is Positive")
elif number<0:
  print(number,"Is Negative")
else:
  print("Number Is Neither Positive Nor Negative")

Enter A Number0
Number Is Neither Positive Nor Negative

**Check If Number Is Odd Or Even**

In [16]:
number=float(input("Enter A Number="))
if number%2==0:
  print(number,"Is Even")
else:
  print(number,"Is Odd")

Enter A Number=24
24.0 Is Even

**Check If Year Is Leap Or Not**

In [22]:
year=int(input("Enter The Year="))
if (year%4)==0:
  if (year%100)==0:
    if (year%400)==0:
      print(year,"Is A Leap Year")
    else:
      print(year,"Is Not A Leap Year")
  else:
    print(year,"Is Not A Leap Year")
else:
  print(year,"Is Not A Leap Year")

Enter The Year=2015
2015 Is Not A Leap Year

**Largest Number Among Three Inputs**

In [26]:
a=float(input("Enter 1st Number="))
b=float(input("Enter 2nd Number="))
c=float(input("Enter 3rd Number="))
if a>b and a>c:
  print(a,"Is Largest")
elif b>a and b>c:
  print(b,"Is Largest")
elif c>a and c>b:
  print(c,"Is Largest")
else:
  print("The Value Of Given Numbers Is Equal")

Enter 1st Number=20
Enter 2nd Number=20
Enter 3rd Number=20
The Value Of Given Numbers IS Equal

**Check If A Number Is Prime Or Not**

In [32]:
number=int(input("Enter A Number"))
if number>1:
  for i in range(2,number):
    if (number%i)==0:
      print(number,"Is Composite")
      break
  else:
    print(number,"Is Prime")

Enter A Number99
99 Is Composite

**Check Prime Number In A Given Interval**

In [34]:
for number in range(1,21):
  if number>1:
    for i in range(2,number):
      if (number%i)==0:
        print(number,"Is Composite")
        break
    else:
      print(number,"Is Prime")

2 Is Prime
3 Is Prime
4 Is Composite
5 Is Prime
6 Is Composite
7 Is Prime
8 Is Composite
9 Is Composite
10 Is Composite
11 Is Prime
12 Is Composite
13 Is Prime
14 Is Composite
15 Is Composite
16 Is Composite
17 Is Prime
18 Is Composite
19 Is Prime
20 Is Composite

**Multiplication Table**

In [38]:
number=int(input("Number Whose Multiplication Table Is To Be Printed="))
count=1
while count<11:
  print(number,"X",count,"=",number*count)
  count+=1

Enter Number Whose Multiplication Table Is To Be Printed=12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120